/nb_programs/chromium/nbproject/private/
/nb_programs/chromium/build/
/nb_programs/chromium/nbproject/*.mk
/nb_programs/chromium/nbproject/*.bash
/nb_programs/chromium_2015/nbproject/private/
/nb_programs/chromium_2015/build/
/nb_programs/chromium_2015/nbproject/*.mk
/nb_programs/chromium_2015/nbproject/*.bash
/nb_programs/chromium_2015/
/vc_programs12/app_admin/GeneratedFiles/
/vc_programs10/app_admin/GeneratedFiles/
/vc_programs/app_admin/GeneratedFiles/
/guitest_e/nbproject/private/
/guitests/nbproject/private/
/nb_programs/libnskernel/build/
nbproject/
build/
private/
bin/
lib/
database/
utils/
doc/
ext_sorce_correct/
rpcgenerate/
ext_libsourse/
simulator/
guitests/
webkitadd/
!nbproject/project.xml
!nbproject/configurations.xml
.dep.inc
*.o
*.obj
*.zip
*.tlog
*.pdb
*.log
*.idb
*.dll
*.lastbuildstate
*.user
*.cache
*.unsuccessfulbuild
*.manifest
*.dep
*.res
*.dg
*.exe
*.ncb
*.sdf
*.opensdf
BuildLog.htm
Makefile
