 
/* Armat style*/

.ongaz
{
  stroke: black;
  fill: #EEEE33;
}

.onwater
{
  stroke: black;
  fill: #33CC99;
}

.onair
{
  stroke: black;
  fill: #3399FF;
}


.onstream
{
  stroke: black;
  fill: #FF00FF;
}

.onoil
{
  stroke: black;
  fill: #CC6633;
}

.on
{
  stroke: black;
  fill: #33CC33;
  
}

 .offgaz
{
  fill: #383838;
  stroke: #EEEE33;
}

.offwater
{
  fill: #383838;
  stroke: #33CC99;
}

.offair
{
  fill: #383838;
  stroke: #3399FF;
}


.offstream
{
  fill: #383838;
  stroke: #FF00FF;
}

.offoil
{
  fill: #383838;
  stroke: #CC6633;
}

.off
{
  fill: #383838;
  stroke: #33CC33;
}

.alarm
{
  stroke-width: 0;
  fill: red;

  
}

.local
{
  stroke: black;
  fill: red;

  
}

.autocontrol
{
  stroke: black;
  fill: #00CD00;

}

.offcheckcontrol
{
  fill: #B5B5B5;
}

.oncheckcontrol
{
  fill: #00EE00;
}


.transparent
{
  stroke: transparent;
  fill: transparent;

  
}

.off
{
  stroke: black;
  fill: gray;
}

.non
{
  stroke: black;
  fill: white;
}


/* fill style */


.nongradh{
    fill: url(#hgradientnone)
}

.nongradv{
    fill: url(#vgradientnone)
}

.blackgradh{
    fill: url(#hgradientblack)
}

.blackgradv{
    fill: url(#vgradientblack)
}


.redgradh{
    fill: url(#hgradientred)
}

.redgradv{
    fill: url(#vgradientred)
}

.greengradh{
    fill: url(#hgradientgreen)
}

.rgreengradv{
    fill: url(#vgradientgreen)
}

.gazgradh{
    fill: url(#hgradientgaz)
}

.gazgradv{
    fill: url(#vgradientgaz)
}

.watergradh{
    fill: url(#hgradientwater)
}

.watergradv{
    fill: url(#vgradientwater)
}

.airgradh{
    fill: url(#hgradientair)
}

.airgradv{
    fill: url(#vgradientair)
}


.oilgradh{
    fill: url(#hgradientoil)
}

.oilgradv{
    fill: url(#vgradientoil)
}

.streamgradh{
    fill: url(#hgradientstream)
}

.streamgradv{
    fill: url(#vgradientstream)
}

.onbuttongrad{
    fill: url(#gradientonbutton)
}

.offbuttongrad{
    fill: url(#gradientoffbutton)
}

.disablebuttongrad{
    fill: url(#gradientdisablebutton)
}


.central_svgnatext{
text-anchor: middle; 
dominant-baseline: central; 
-webkit-user-select: none;}

.left_svgnatext{
text-anchor: start; 
dominant-baseline: central; 
-webkit-user-select: none;}

.right_svgnatext{
text-anchor: end; 
dominant-baseline: central; 
-webkit-user-select: none;}






