body { 
    margin: 0 0; 
    padding: 0 0; 
    -webkit-user-select: none;
}

div.scrollHeader{
    margin: 0 0; 
    padding: 0 0; 
    border-top-right-radius: 6px; 
    border-top-left-radius: 6px;
    border:  1px solid #000022; 
    background: #000044; 
    color: yellow; 
    padding: 4px; 
    -webkit-user-select: none;
}

div.scrollWrapper{
    overflow:scroll; margin: 0 0; 
    padding: 0 0;
    border:  1px solid grey; 
    height:99%;
}

table.scrollable{
    border-collapse:collapse;
    text-align: left;
    font-size: 12px;
    background:#f0f0f0; 
    width: 100%;
}

table.scrollable th{
    border: 1px solid #999999;
    background:#e0e0e0;
    position: relative;
    padding-left: 6px;
    background-position: 100% 100%;
}

table.scrollable tbody{
    overflow:auto;border-spacing: 0px
}

table.scrollable td.static{ 
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#aaa));
    border: 1px solid gray; 
    padding: 0px 0px;
}

table.scrollable td{
    border: 1px solid gray; 
    padding: 0px 0px;
}

table.scrollable td input{
    display: inline; 
    width: 100%; 
    border: 0px; 
    color: black;
    padding: 0px 0px; 
    font-size: 12px; 
}

table.scrollable td select{
    display: block; 
    width: 100%; 
    border: 0px; 
    color: black;
    padding: 0px 0px; 
    font-size: 12px;
}

.diffvalue{
    background: #808080;
}


/*       */

#toolbar {             
    background-image: none !important;             
    background-color: rgba(256,256,256,1) !important;         } 

.toolbar-label {             
    color: rgba(18,50,114,1) !important;             
    text-shadow: none;}

.toolbar-item {
    margin: 0;
    padding: 0 6px;
    background-color: transparent;
    border-style: none;
    border-color: transparent;
}


.toolbar-item.toggleable {
    padding-top: 4px;
}


.toolbar-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(res/mainlibon.png);
}

.toolbar-item[disabled] .toolbar-icon{
    background-image: url(res/mainliboff.png);
}

.toolbar-item:hover[disabled] .toolbar-icon{
    background-image: url(res/mainliboff.png);
}

.toolbar-item[off] .toolbar-icon{
    background-image: url(res/mainlibdsbl.png);
}


.toolbar-item:active .toolbar-icon {
    background-position-y: 32px;
}

.toolbar-item:hover .toolbar-icon {
    background-position-y: 32px;
    border-style: 1px;
    border-color: red;
}


.toolbar-item.toggleable:active .toolbar-label {
    text-shadow: none;
}

.toolbar-item.save .toolbar-icon {
    margin: 0;
    padding: 0 0px;
    background-position-x: 0 px;
    border-style: none;
    border-color: transparent;
}

.toolbar-item.objinsp .toolbar-icon {
    margin: 0;
    padding: 0 0px;
    background-position-x: -30px;
    border-style: none;
    border-color: transparent;
}

.toolbar-item.forminsp .toolbar-icon {
    margin: 0;
    padding: 0 0px;
    background-position-x: -60px;
    border-style: none;
    border-color: transparent;
}

.toolbar-item.exit .toolbar-icon {
    margin: 0;
    padding: 0 0px;
    background-position-x: -90px;
    border-style: none;
    border-color: transparent;
}


