/* 
    Document   : maindesignwindow
    Created on : 15.02.2012, 14:19:19
    Author     : Alexeev
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#toolbar {             
    background-image: none !important;             
    background-color: rgba(223,223,223,1) !important;         } 

.toolbar-label {             
    color: rgba(18,50,114,1) !important;             
    text-shadow: none;}

.toolbar-item {
    margin: 0;
    padding: 0 6px;
    background-color: transparent;
    border-style: none;
    border-color: transparent;
}

.toolbar-item.toggleable {
    padding-top: 4px;
}

.toolbar-item.toggleable.toggled-on {
    border-width: 0 2px 0 2px;
    padding: 4px 4px 0 4px;
    -webkit-border-image: url(Images/toolbarItemSelected.png) 0 2 0 2;
}

.toolbar-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(res/mainmenue.png);
}

.toolbar-small .toolbar-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-image: url(Images/toolbarIconsSmall.png);
}

.toolbar-item:active .toolbar-icon {
    background-position-y: 32px;
}

.toolbar-small .toolbar-item:active .toolbar-icon {
    background-position-y: 24px;
}

.toolbar-label {
    font-size: 11px;
    font-family: Lucida Grande, sans-serif;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

.toolbar-item.toggleable:active .toolbar-label {
    text-shadow: none;
}

.toolbar-small .toolbar-label {
    display: inline-block;
    margin-left: 3px;
    position: relative;
    top: 2px;
}

body.attached #search-toolbar-label {
    display: none;
}

#toolbar-controls {
    float: right;
    display: -webkit-box;
    -webkit-box-align: center;
    height: 100%;
}

#toolbar-dropdown-arrow {
    font-size: 16px;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    -webkit-border-radius: 5px;
    text-shadow: none;
}

body.attached #toolbar-dropdown-arrow {
    font-size: 14px;
    padding-bottom: 4px;
}

#toolbar-dropdown-arrow.dropdown-visible {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 251, 251, 0.9)), to(rgba(231, 231, 231, 0.9)));
}

#toolbar-dropdown-arrow:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(191, 191, 191, 0.7)), to(rgba(171, 171, 171, 0.5)));
}

#toolbar-dropdown-arrow:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(111, 111, 111, 0.8)), to(rgba(91, 91, 91, 0.8)));
}

#toolbar-dropdown {
    position: absolute;
    z-index: 1000;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(128, 128, 128);
    padding: 4px;
    background-color: inherit;
    background-image: inherit;
}

body.detached.platform-mac-leopard #toolbar-dropdown,
body.detached.platform-mac-snowleopard #toolbar-dropdown {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(191, 191, 191)), to(rgb(151, 151, 151)));
}

#toolbar-dropdown .scrollable-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: start;
}

#toolbar-dropdown .toolbar-item {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    margin: 0px 2px;
    padding: 4px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
}

#toolbar-dropdown .toolbar-item.toggleable.toggled-on {
    border: 1px solid rgba(100, 100, 120, 0.4);
    -webkit-border-image: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.6)), to(rgba(128, 128, 128, 0.6)), color-stop(20%, rgba(158, 158, 158, 0.2)), color-stop(80%, rgba(158, 158, 158, 0.2)));
}

#toolbar-dropdown .toolbar-item:hover {
    -webkit-border-image: none;
    border: 1px solid rgba(100, 100, 120, 0.8);
}

#toolbar-dropdown .toolbar-item.toggleable.toggled-on:hover {
    border: 1px solid rgba(100, 100, 120, 1);
}

#toolbar-dropdown .toolbar-icon {
    margin-right: 0.5em;
}


html { 
    margin: 0;
    padding:  0; 
    border: 0;
}

body { 
    margin: 0;
    padding:  0; 
    border: 0;
}


table { 
    border-collapse:collapse;
    text-align: left;
    font-size: 12px;
    background:#f0f0f0; 
    width: 100%;
    height: 100%;
}


button { 
    margin: 0;
    padding:  0;
}


