/* 
    Document   : maindesignwindow
    Created on : 15.02.2012, 14:19:19
    Author     : Alexeev
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html { 
    margin: 0;
    padding:  0; 
    border: 0;
}

body { 
    margin: 0;
    padding:  0; 
    border: 0;
}

#toolbar {             
    background-image: none !important;             
    background-color: rgba(256,256,256,1) !important;         } 

.toolbar-label {             
    color: rgba(18,50,114,1) !important;             
    text-shadow: none;}

.toolbar-item {
    margin: 0;
    padding: 0 6px;
    background-color: transparent;
    border-style: none;
    border-color: transparent;
}


.toolbar-item.toggleable {
    padding-top: 4px;
}


.toolbar-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(res/mainmenue.png);
}

.toolbar-item[disabled] .toolbar-icon{
    background-image: url(res/mainmenueoff.png);
}

.toolbar-item:hover[disabled] .toolbar-icon{
    background-image: url(res/mainmenueoff.png);
}

.toolbar-item[off] .toolbar-icon{
    background-image: url(res/mainmenuecl.png);
}


.toolbar-item:active .toolbar-icon {
    background-position-y: 32px;
}

.toolbar-item:hover .toolbar-icon {
    background-position-y: 32px;
    border-style: 1px;
    border-color: red;
}


.toolbar-item.toggleable:active .toolbar-label {
    text-shadow: none;
}

.toolbar-item.save .toolbar-icon {
    margin: 0;
    padding: 0 0px;
    background-position-x: 0 px;
    border-style: none;
    border-color: transparent;
}

.toolbar-item.objinsp .toolbar-icon {
    margin: 0;
    padding: 0 0px;
    background-position-x: -30px;
    border-style: none;
    border-color: transparent;
}

.toolbar-item.forminsp .toolbar-icon {
    margin: 0;
    padding: 0 0px;
    background-position-x: -60px;
    border-style: none;
    border-color: transparent;
}

.toolbar-item.exit .toolbar-icon {
    margin: 0;
    padding: 0 0px;
    background-position-x: -90px;
    border-style: none;
    border-color: transparent;
}

