

div.scrollWrapper{
    float:left;
    overflow:scroll;
    height: 100%;
    border:  1px solid grey;
    width: 100%;
}
table.scrollable{
    border-collapse:collapse;
    text-align: left;
    font-size: 14px;
    width :100%;
    background:#f0f0f0;
}
table.scrollable th{
    border: 1px solid #999999;
    background:#e0e0e0;
    position: relative;
    padding-left: 6px;
    background-image: url("res/thead.gif");
    background-position: 100% 100%;
    background-repeat: repeat-x;
}
table.scrollable tbody{
    overflow:auto;
}


table.scrollable td{
    border: 0px;
    background-image: url("res/mainrow.gif");
    background-position: 100% 100%;
    background-repeat: repeat-x;
    padding: 3px;
}

table.scrollable tr.avaron{
    color: red;
    font-weight: bold;
}

table.scrollable tr.avaron td.col1 {
    background-image: url("res/avar.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;    
}

table.scrollable tr.alarmon{
    color: orange;
    font-weight: bold;
}

table.scrollable tr.alarmon td.col1 {
    background-image: url("res/alarm.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;    
}

table.scrollable tr.noticeon{
    color: darksalmon;
    font-weight: bold;
}

table.scrollable tr.noticeon td.col1 {
    background-image: url("res/notice.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;    
}

table.scrollable tr.avarkvit{
    color:  dimgray;
    font-weight: normal;
}

table.scrollable tr.avarkvit td.col1 {
    background-image: url("res/avar_k.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;    
}

table.scrollable tr.alarmkvit{
    color:  darkgrey;
    font-weight: normal;
}

table.scrollable tr.alarmkvit td.col1 {
    background-image: url("res/alarm_k.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;    
}

table.scrollable tr.noticekvit{
    color:  lightsteelblue;
    font-weight: normal;
}

table.scrollable tr.noticekvit td.col1 {
    background-image: url("res/notice_k.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;    
}

table.scrollable td{
    border: 1px solid #999999;
}

.smallfont {
    margin: 3px;
    font: 11px Arial, Tahoma, Verdana, Trebuchet MS;
}


.clear_block{
    width: 100%;
    height: 100%;
    margin: 0 0;
  
}


.ccc_panel_bottom{
    /*background: url('res/redpanel.png') repeat-x; background-size: contain; border-radius: 5px;*/
    background:  #999999 ;   
    border-radius: 8px;
    text-align: center;
    width: 100%; 
    height: 100%;
    border-spacing: 0px;
    border-width: 0px;
    height: 100%;
}



.firebrick_panel_top{
    /*background: url('res/redpanel.png') repeat-x; background-size: contain; border-radius: 5px;*/
    text-align: center;
    background: #2f2323;   
    border-radius: 8px 8px 0px 0px;
    padding: 10px 10px;

}

.fixed_80opacity {
 position: fixed; 
 opacity: 0.8;}

.size_100pst{
    width: 100%; 
    height: 100%;
}

.size_80pst{
    width: 80%; 
    height: 80%;
}


.midle_header {
    font-family: PTN77F_W, Tahoma, Arial, sans-serif; 
    font-size: 18 ; 
    color:  #e0e0e0; }




.on_button{
  background: url('res/onbtn-bg.png') repeat-x;  
  background-size: contain; 
  border-radius: 5px; 
  border-color: green;  
  color: #f0f0f0; 
  font-weight: bold;
}

.off_button{
  background: url('res/offbtn-bg.png') repeat-x;  
  background-size: contain; 
  border-radius: 5px; 
  border-color: red;  
  color: #f0f0f0; 
  font-weight: bold;
}

.non_button{
  background: url('res/nonbtn-bg.png') repeat-x;  
  background-size: contain; 
  border-radius: 5px; 
  border-color: grey;  
  color: #f0f0f0; 
  font-weight: bold;
}
