 
/* Armat style*/

.ongaz
{
  stroke: black;
  fill: #EEEE33;
}

.onkU800
{
  stroke: #3264FF;
  fill: none;
}

.onwater
{
  stroke: black;
  fill: #33CC99;
}

.onkU500
{
  stroke: #D50000;
  fill: none;
}

.onair
{
  stroke: black;
  fill: #3399FF;
}

.onkU400
{
  stroke: #FF641E;
  fill: none;
}

.onstream
{
  stroke: black;
  fill: #FF00FF;
}

.onkU150
{
  stroke: #CD8AFF;
  fill: none;
}

.onoil
{
  stroke: black;
  fill: #C63;
}

.onkU220
{
  stroke: #FFD200;
  fill: none;
}

.onsmoke
{
  stroke: black;
  fill: #CCC;
}

.onkU110
{
  stroke: #3CA0FF;
  fill: none;
}

.onevalid
{
  stroke: black;
  fill: #CCC;
}

.onvapor
{
  stroke: black;
  fill: #d55;
}

.onkU330
{
  stroke: #00AA00;
  fill: none;
}

.onkUlow
{
  stroke: #5F5F5F;
  fill: none;
}

.offkUNone
{
  stroke: gray;
  fill: none;
}

.on
{
  stroke: black;
  fill: #33CC33;
  
}

 .offgaz
{
  fill: #383838;
  stroke: #EEEE33;
}

 .offkU800
{
  fill: #383838;
  stroke: #3264FF;
}

.offwater
{
  fill: #383838;
  stroke: #D50000;
}

.offkU500
{
  fill: #383838;
  stroke: #0000A8;
}

.offair
{
  fill: #383838;
  stroke: #3399FF;
}

.offkU400
{
  fill: #383838;
  stroke: #FF641E;
}


.offstream
{
  fill: #383838;
  stroke: #FF00FF;
}

.offkU150
{
  fill: #383838;
  stroke: #CD8AFF;
}

.offoil
{
  fill: #383838;
  stroke: #CC6633;
}

.offkU220
{
  fill: #383838;
  stroke: #FFD200;
}

.offsmoke
{
  fill: black;
  stroke: #CCC;
}

.offkU110
{
  fill: black;
  stroke: #3CA0FF;
}

.offevalid
{
  fill: black;
  stroke: #CCC;
}

.offvapor
{
  fill: black;
  stroke: #d55;
}

.offkU330
{
  fill: black;
  stroke: #00AA00;
}

.offkUlow
{
  fill: black;
  stroke: #5F5F5F;
}

.off
{
  fill: #383838;
  stroke: #33CC33;
}

.notice
{
  stroke-width: 0 !important;
  fill: #FF0 !important;

  
}

.alarm
{
  stroke-width: 0 !important;
  fill: #EEAD0E !important;

  
}

.accident
{
  stroke-width: 0 !important;
  fill: red !important;
  
}

.notice_stroke
{
  stroke: #FF0 !important;

  
}

.alarm_stroke
{
  stroke: #EEAD0E !important;

}

.accident_stroke
{
  stroke: #F00 !important;
}

.local
{
  stroke: black;
  fill: red;

  
}

.autocontrol
{
  stroke: black;
  fill: #00CD00;

}

.offcheckcontrol
{
  fill: #B5B5B5;
}

.oncheckcontrol
{
  fill: #00EE00;
}


.transparent
{
  stroke: transparent;
  fill: transparent;

  
}

.off
{
  stroke: black;
  fill: gray;
}

.non
{
  stroke: black;
  fill: white;
}


/* fill style */


.nongradh{
    fill: url(#gradientnone_h)
}

.nongradv{
    fill: url(#gradientnone_v)
}


.redgradh{
    fill: url(#gradientaccident_h)
}

.redgradv{
    fill: url(#gradientaccident_v)
}


.gazgradh{
    fill: url(#gradientgaz_h)
}

.gazgradv{
    fill: url(#gradientgaz_v)
}

.kU800gradh{
    fill: url(#gradientkU800_h)
}

.kU800gradv{
    fill: url(#gradientkU800_v)
}

.watergradh{
    fill: url(#gradientwater_h)
}

.watergradv{
    fill: url(#gradientwater_v)
}

.kU500gradh{
    fill: url(#gradientkU500_h)
}

.kU500gradv{
    fill: url(#gradientkU500_v)
}

.airgradh{
    fill: url(#gradientair_h)
}

.airgradv{
    fill: url(#gradientair_v)
}

.kU400gradh{
    fill: url(#gradientkU400_h)
}

.kU400gradv{
    fill: url(#gradientkU400_v)
}


.oilgradh{
    fill: url(#gradientoil_h)
}

.oilgradv{
    fill: url(#gradientoil_v)
}

.kU220gradh{
    fill: url(#gradientkU220_h)
}

.kU220gradv{
    fill: url(#gradientkU220_v)
}

.streamgradh{
    fill: url(#gradientstream_h)
}

.streamgradv{
    fill: url(#gradientstream_v)
}

.kU150gradh{
    fill: url(#gradientkU150_h)
}

.kU150gradv{
    fill: url(#gradientkU150_v)
}

.central_svgnatext{
text-anchor: middle; 
dominant-baseline: central; 
-webkit-user-select: none;}

.left_svgnatext{
text-anchor: start; 
dominant-baseline: central; 
-webkit-user-select: none;}

.right_svgnatext{
text-anchor: end; 
dominant-baseline: central; 
-webkit-user-select: none;}

*{
 -webkit-user-select: none;
}








